.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 95px;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
}

.copyright__html-academy-logo {
  width: 27px;
  height: 34px;

  &:hover path,
  &:focus path {
    fill: #a9cbe0;
  }

  &:active path {
    fill: #b4b4b4;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0 0 31px 30px;
    vertical-align: middle;
  }

  .copyright__text {
    margin-right: 10px;
  }
}
