.description {
  padding: 11px 30px;
  margin-bottom: 30px;

  &--photo {
    padding: 11px 23px;
    margin-bottom: 13px;
  }

  &--photo .description__header {
    margin-bottom: 20px;
  }
}

.description__header {
  @include reset;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 28px;
  text-align: center;
}

.description__text {
  @include reset;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .description {
    width: 490px;
    margin: 0 auto;
  }

  .description__header {
    font-size: 21px;
  }
}
