.entertainments__list {
  @include reset-list;
}

.entertainments__item-header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.entertainments__item-description {
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .entertainments__list {
    display: flex;
  }

  .entertainments__item {
    display: flex;
    padding: 80px 20px;
    flex-direction: column;
    min-height: 330px;
    align-items: center;
    width: 256px;
  }
}
