.entertainments {
  margin-bottom: 23px;
}

.entertainments__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.entertainments__list .entertainments__item:nth-of-type(1) {
  &::before {
    background-image: url("../img/icon-house.svg");
    background-size: 36px 37px;
    width: 36px;
    height: 37px;
    top: 5px;
    left: 22px;
  }
}

.entertainments__list .entertainments__item:nth-of-type(2) {
  order: 2;

  &::before {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
    width: 40px;
    height: 35px;
    top: 9px;
    left: 18px;
  }
}

.entertainments__list .entertainments__item:nth-of-type(3) {
  order: 1;

  &::before {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
    width: 32px;
    height: 38px;
    top: 3px;
    left: 25px;
  }
}

.entertainments__item {
  @include reset;
  position: relative;
  min-height: 110px;
  padding: 14px 18px 5px 70px;

  &::before {
    position: absolute;
    content: "";
  }
}

.entertainments__item-description br {
  display: none;
}

.entertainments__item-header {
  @include reset;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 13px;
}

.entertainments__item-description {
  @include reset;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .entertainments__list {
    flex-direction: row;
  }

  .entertainments__item {
    text-align: center;
    padding: 138px 49px 20px;
    min-height: 286px;
    width: 256px;
  }

  .entertainments__item-description br {
    display: initial;
  }

  .entertainments__list .entertainments__item:nth-of-type(1) {
    &::before {
      background-size: 75px 72px;
      width: 75px;
      height: 72px;
      top: 40px;
      left: 50%;
      margin-left: -37px;
    }
  }

  .entertainments__list .entertainments__item:nth-of-type(2) {
    order: 1;

    &::before {
      background-size: 77px 68px;
      width: 77px;
      height: 68px;
      top: 43px;
      left: 50%;
      margin-left: -38px;
    }
  }

  .entertainments__list .entertainments__item:nth-of-type(3) {
    order: 2;
    padding: 138px 42px 20px;

    &::before {
      background-size: 64px 75px;
      width: 64px;
      height: 75px;
      top: 37px;
      left: 50%;
      margin-left: -32px;
    }
  }

  .entertainments__item-header {
    font-size: 21px;
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .entertainments__item {
    width: 400px;
  }
}
