.features__items {
  @include reset-list;
}

.features__item-header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.features__item-number {
  font-size: 14px;
  line-height: 21px;
}

.features__item-description {
  font-size: 14px;
  line-height: 21px;
}

.features__item--blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.features__item--gray {
  color: #333333;
  background-color: #eeeeee;
}

.features__item-header--black {
  color: black;
}
