.features__items {
  @include reset-list;
}

.features__item-header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.features__item-number {
  font-size: 14px;
  line-height: 21px;
}

.features__item-description {
  font-size: 14px;
  line-height: 21px;
}

.features__item--blue {
  background-color: $main-blue;
  color: $main-light-color;
}

.features__item--gray {
  color: $main-gray;
  background-color: #eeeeee;
}

.features__item-header--black {
  color: black;
}

@media (min-width: $tablet-width) {
  .features__item {
    display: flex;
    justify-content: space-between;
  }

  .features__item-wrapper {
    width: 256px;
    margin: 0 auto;
  }

  .features__item-image--second {
    order: -1;
  }
}
