.feedback__header {
  @include reset;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.feedback__description {
  @include reset;
  color: $main-gray;
  text-align: center;
}

.feedback__label-text {
  line-height: 26px;
  color: $main-gray;
}

.feedback__label {
  text-transform: initial;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.feedback__input-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__input-text::-webkit-input-placeholder {
  color: black;
}

.feedback__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__textarea::-webkit-input-placeholder {
  color: black;
}

.feedback__sumbit-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
  color: $main-light-color;
  background-color: $main-blue;
  border: none;
  padding: 15px 35px;
}
