.feedback {
  padding: 8px 21px 5px;
}

.feedback > .feedback__header {
  &::before {
    background-color: transparent;
  }
}

.feedback__header {
  @include reset;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    min-width: 318px;
    height: 1px;
    background-color: $main-light-gray;
    top: -19px;
    left: -20px;
  }
}

.feedback__description {
  @include reset;
  color: $main-gray;
  text-align: center;
  line-height: 24px;
  margin-bottom: 37px;
}

.feedback__field-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 9px;
}

.feedback__field {
  position: relative;
  padding: 22px 5px 20px;

  &--checkbox {
    margin-top: 10px;
  }
}

.feedback__label {
  text-transform: initial;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 41px;
  padding-left: 31px;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    top: 6px;
    left: -2px;
    background-color: $main-light-gray;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 18px 20px;
  }
}

.feedback__label--radio {
  &::before {
    border-radius: 30px;
  }
}

.feedback__input-radio:checked + .feedback__label--radio::after {
  content: "";
  position: absolute;
  background-color: $main-gray;
  border-radius: 10px;
  width: 21px;
  height: 21px;
  left: 16px;
  top: 24px;
}

.feedback__input-checkbox:checked + .feedback__label--checkbox::before {
  background-image: url("../../img/icon-tick.svg");
}

.feedback__input-checkbox:hover + .feedback__label--checkbox::before,
.feedback__input-checkbox:focus + .feedback__label--checkbox::before {
  background-color: $main-gray-hover;
}

.feedback__input-checkbox:active + .feedback__label--checkbox::before {
  background-color: rgba(0, 0, 0, 0.384);
  opacity: 0.4;
}

.feedback__input-radio:hover + .feedback__label--radio::before,
.feedback__input-radio:focus + .feedback__label--radio::before {
  background-color: $main-gray-hover;
}

.feedback__input-radio:active + .feedback__label--radio::before {
  background-color: $main-gray-active;
}

.feedback__input-radio:active + .feedback__label--radio::after {
  opacity: 0.3;
}

.feedback__inpunts-wrapper:first-of-type .feedback__header {
  margin-top: 35px;
  margin-bottom: 25px;
}

.feedback__inpunts-wrapper:nth-of-type(2) .feedback__header {
  margin-top: 47px;
  margin-bottom: 19px;
}

.feedback__inpunts-wrapper:nth-of-type(3) .feedback__header {
  margin-top: 35px;
  margin-bottom: 15px;
}

.feedback__inpunts-wrapper:nth-of-type(4) .feedback__header {
  margin-top: 41px;
  margin-bottom: 12px;
}

.feedback__inpunts-wrapper:last-of-type .feedback__header {
  margin-top: 41px;
  margin-bottom: 14px;
}

.feedback__label-text {
  position: relative;
  line-height: 26px;
  color: $main-gray;
  margin-right: 13px;

  &--contacts {
    margin-left: 20px;
  }
}

.feedback__label-text--contacts {
  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    top: 29px;
    left: 201px;
    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 21px 20px;
  }
}

.feedback__label-text--contacts:last-of-type {
  &::after {
    background-image: url("../../img/icon-mail.svg");
    background-position: 21px 21px;
  }
}

.feedback__input-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: $main-light-gray;
  min-height: 58px;
  flex-grow: 1;
  padding: 6px 5px 7px 22px;
  overflow: hidden;

  &--contacts {
    margin-top: 7px;
    margin-bottom: 12px;
    min-width: 280px;
  }

  &:hover {
    background-color: $main-gray-hover;
  }

  &:focus {
    background-color: $main-light-color;
    outline: 4px solid #eaeaea;
  }
}

.feedback__input-text::-webkit-input-placeholder {
  color: black;
}

.feedback__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: $main-light-gray;
  padding: 17px 18px;
  min-width: 279px;
  min-height: 161px;
  resize: none;
  margin-bottom: 43px;

  &:hover {
    background-color: $main-gray-hover;
  }

  &:focus {
    background-color: $main-light-color;
    outline: 4px solid #eaeaea;
  }
}

.feedback__textarea::-webkit-input-placeholder {
  color: black;
}

.feedback__sumbit-button {
  display: block;
  margin: 0 auto 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
  color: $main-light-color;
  background-color: $main-blue;
  border: none;
  padding: 16px 48px;
  min-width: 280px;

  &:hover,
  &:focus {
    background-color: $main-blue-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $main-blue-active;
  }
}

@media (min-width: $tablet-width) {
  .feedback > .feedback__header {
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 26px;
  }

  .feedback__description {
    padding: 5px 140px;
  }

  .feedback__header {
    font-size: 21px;
  }
}
