.feedback {
  padding: 8px 21px 5px;
}

.feedback__header {
  @include reset;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 25px;
}

.feedback__description {
  @include reset;
  color: $main-gray;
  text-align: center;
  line-height: 24px;
  margin-bottom: 37px;
}

.feedback__field-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 9px;
}

.feedback__field {
  padding: 22px 5px 20px;

  &--checkbox {
    margin-top: 10px;
  }
}

.feedback__form .feedback__header:first-of-type {
  margin-bottom: 24px;
}

.feedback__form .feedback__header:nth-of-type(2) {
  margin-top: 47px;
  margin-bottom: 20px;
}

.feedback__form .feedback__header:nth-of-type(3) {
  margin-top: 35px;
  margin-bottom: 15px;
}

.feedback__form .feedback__header:nth-of-type(4) {
  margin-top: 42px;
  margin-bottom: 7px;
}

.feedback__form .feedback__header:nth-of-type(5) {
  margin-top: 40px;
  margin-bottom: 16px;
}

.feedback__label-text {
  line-height: 26px;
  color: $main-gray;
  margin-right: 13px;

  &--contacts {
    margin-left: 20px;
  }
}

.feedback__label {
  text-transform: initial;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 41px;
}

.feedback__input-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: $main-light-gray;
  min-height: 58px;
  flex-grow: 1;
  padding: 6px 5px 7px 22px;
  overflow: hidden;

  &--contacts {
    color: red;
    margin-top: 7px;
    margin-bottom: 12px;
    min-width: 280px;
  }
}

.feedback__input-text::-webkit-input-placeholder {
  color: black;
}

.feedback__input-radio {
  margin-left: 16px;
}

.feedback__input-checkbox {
  margin-left: 16px;
}

.feedback__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: $main-light-gray;
  padding: 17px 18px;
  min-width: 279px;
  min-height: 161px;
  resize: none;
  margin-bottom: 43px;
}

.feedback__textarea::-webkit-input-placeholder {
  color: black;
}

.feedback__sumbit-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
  color: $main-light-color;
  background-color: $main-blue;
  border: none;
  padding: 15px 35px;
}
