.hotel-search {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}

.hotel-search__header {
  @include reset;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 18px;
}

.hotel-search__offer {
  @include reset;

  line-height: 24px;
}

.hotel-search__offer br {
  display: none;
}

.hotel-search__description {
  padding: 4px 15px;
  margin-bottom: 32px;
}

.hotel-search__button {
  display: inline-block;
  padding: 15px 20px 10px;
  min-width: 280px;
  min-height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: inherit;
  border: none;
  color: $main-light-color;
  background-color: $main-blue;
  margin-bottom: 49px;

  &:hover,
  &:focus {
    background-color: $main-blue-hover;
  }

  &:active {
    background-color: $main-blue-active;
    color: $main-text-pressed;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.hotel-search__map {
  position: relative;
  min-width: 320px;
  height: 350px;
  background-color: #cadfaa;

  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    top: 161px;
    left: 146px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .hotel-search {
    margin-top: 46px;
    margin-bottom: 31px;
  }

  .hotel-search__map .hotel-search__interactive-map {
    width: 768px;
  }

  .hotel-search__offer br {
    display: initial;
  }

  .hotel-search__description {
    padding: 10px 160px;
  }

  .hotel-search__header {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .hotel-search__button {
    min-width: 458px;
    margin-bottom: 58px;
  }

  .hotel-search__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    &::before {
      top: 164px;
      left: 370px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .hotel-search__map .hotel-search__interactive-map {
    width: 1200px;
  }

  .hotel-search__description {
    margin-bottom: 37px;
  }

  .hotel-search__button {
    margin-bottom: 66px;
  }

  .hotel-search__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    &::before {
      top: 162px;
      left: 586px;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .hotel-search__map {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: cover;
    }
  }
}
