.hotel-search {
  text-transform: uppercase;
  text-align: center;
}

.hotel-search__header {
  @include reset;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 18px;
}

.hotel-search__offer {
  @include reset;

  line-height: 24px;
}

.hotel-search__description {
  padding: 4px 15px;
  margin-bottom: 32px;
}

.hotel-search__button {
  min-width: 280px;
  min-height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: inherit;
  border: none;
  color: white;
  background-color: $main-blue;
}
