.hotel-search {
  text-transform: uppercase;
  text-align: center;
}

.hotel-search__header {
  @include reset;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 18px;
}

.hotel-search__offer {
  @include reset;

  line-height: 24px;
}

.hotel-search__description {
  padding: 4px 15px;
  margin-bottom: 32px;
}

.hotel-search__button {
  min-width: 280px;
  min-height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: inherit;
  border: none;
  color: white;
  background-color: $main-blue;
  margin-bottom: 49px;
}

.hotel-search__map {
  min-height: 350px;
  background-color: #cadfaa;
  margin-bottom: 36px;

  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: cover;
  }
}
