.main-background {
  position: relative;
  top: -28px;
  width: 100%;
  min-height: 390px;
  background: #516069 url("../../img/bg-back-mobile@1x.jpg") -224px 0px no-repeat;
  z-index: -1;


  &--small {
    min-height: 160px;
  }
}

.main-background__slogan-image {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
