.main-background {
  width: 100%;
  min-height: 300px;
  background-color: #516069;
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat;

  margin-bottom: 50px;

  &--small {
    min-height: 160px;
  }
}
