.menu-list {
  @include reset-list;
}

.menu-list__item {
  color: $main-light-color;
  background-color: $main-blue;
  font-weight: 700;
  min-height: 55px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 40px;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

.menu-list__item a {
  color: inherit;
}
