.photos {
  padding: 21px 18px 13px;
}

.photos__items {
  @include reset-list;
}

.photos__item {
  border: 1px solid #fafafa;
  min-height: 415px;
}

.photos__item-image {
  margin-bottom: 8px;
}

.photos__item-header {
  @include reset-list;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photos__item-author {
  display: block;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.photos__item-likes-amount {
  @include reset-list;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 38px;
}

.photos__item-icon-container {
  position: relative;
}

.photos__item-like-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: $main-color;
  opacity: 0.3;
}

.photos__presentation {
  position: relative;
  margin-bottom: 133px;
}

.photos__presentaton-description {
  padding: 0 30px;
  text-align: center;
}

.photos__presentation-header {
  @include reset;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 27px;
}

.photos__presentaton-text {
  @include reset;
  line-height: 24px;
  margin-bottom: 34px;
}

.photos__video-controls {
  position: absolute;
  min-width: 320px;
  padding: 0 20px;
  margin-bottom: 100px;
  bottom: -158px;
}

.photos__control-scroll {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 45px;
  padding: 21px 22px 11px;
}

.photos__control-cirle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $main-light-color;
  border-radius: 5px;
  top: 50%;
  margin-top: -5px;
  left: 57px;
}

.photos__control-scale {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  min-width: 235px;
  min-height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.photos__control-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 235px;
  min-height: 66px;
  background-color: #f2f2f2;
  padding: 5px 24px;
}

.photos__control-button {
  fill: #5c6870;

  &:hover,
  &:focus {
    fill: black;
  }

  &:active {
    fill: $main-color;
    opacity: 0.3;
  }
}

.photos__control-buttons .photos__control-button:first-child {
  margin-right: 104px;
}

@media (min-width: $tablet-width) {
  .photos__items {
    padding: 0 41px;
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item {
    min-height: 348px;
    width: 324px;
    background-color: #eaeaea;
  }

  .photos__item-author {
    @include reset;
  }

  .photos__item--first .photos__description-container {
    padding: 0 19px 14px;
  }

  .photos__description-container {
    display: flex;
    justify-content: space-between;
    padding: 0 31px 10px 20px;
  }

  .photos__item-likes-amount {
    align-self: center;
  }

  .photos__item--first .photos__item-like-icon {
    top: 12px;
    left: 204px;
  }

  .photos__item:nth-child(2) .photos__item-like-icon {
    top: 12px;
    left: 26px;
  }

  .photos__item:nth-child(3) .photos__item-like-icon {
    top: 12px;
    left: 55px;
  }

  .photos__item:last-child .photos__item-like-icon {
    top: 12px;
    left: 59px;
  }

  .photos__item-image {
    width: 324px;
    height: 267px;
  }

  .photos__item--first {
    width: 648px;
  }

  .photos__item--first .photos__item-image {
    width: 648px;
    height: 400px;
  }

  .photos__presentation {
    padding: 10px 60px;
    margin-bottom: 54px;
  }

  .photos__presentaton-description {
    padding: 42px 110px 39px;
  }

  .photos__presentation-header {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .photos__video-controls {
    min-width: 688px;
    left: 40px;
    bottom: -83px;
  }

  .photos__control-buttons {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 48px;
  }

  .photos__control-scale {
    top: 46px;
    left: 93px;
    min-width: 389px;
  }

  .photos__control-cirle {
    left: 205px;
    top: 46px;
  }

  .photos__control-button {
    fill: $main-light-color;
    position: absolute;

    &:hover,
    &:focus {
      fill: #c2c2c2;
    }

    &:active {
      fill: #949494;
    }
  }

  .photos__control-button:first-of-type {
    left: 55px;
    top: 35px;
  }

  .photos__control-button:nth-of-type(2) {
    right: 112px;
    top: 36px;
  }

  .photos__control-button:last-of-type {
    right: 61px;
    top: 36px;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    @include reset;
    margin-bottom: 0px;
  }

  .photos__items {
    @include reset-list;
  }

  .photos__item {
    width: 400px;
    min-height: 267px;
    position: relative;
    background-color: transparent;
  }

  .photos__item--first .photos__description-container {
    bottom: 15px;
    padding-top: 14px;
  }

  .photos__description-container {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: $main-light-color;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 80px;
    bottom: 80px;
    padding-top: 14px;
  }

  .photos__item-image {
    width: 400px;
    height: 267px;
  }

  .photos__item--first {
    width: 1200px;
    min-height: 280px;
    margin-bottom: -18px;
  }

  .photos__item--first .photos__item-image {
    width: 1200px;
  }
  
  .photos__item-like-icon {
    fill: $main-light-color;
    opacity: 1;
  }

  .photos__item--first .photos__item-like-icon {
    top: 13px;
    left: 478px;
  }

  .photos__item:nth-child(2) .photos__item-like-icon {
    top: 14px;
    left: 63px;
  }

  .photos__item:nth-child(3) .photos__item-like-icon {
    top: 14px;
    left: 91px;
  }

  .photos__item:last-child .photos__item-like-icon {
    top: 14px;
    left: 95px;
  }

  .photos__item:not(:first-of-type) .photos__description-container {
    bottom: 16px;
  }

  .photos__presentation {
    padding: 11px 199px;
    margin-bottom: 96px;
  }

  .photos__presentaton-description {
    padding: 41px 180px 39px;
  }

  .photos__video-controls {
    left: 179px;
    bottom: -79px;
    min-width: 840px;
  }

  .photos__control-scale {
    min-width: 540px;
  }
}
