.popup-error {
  position: absolute;
  text-transform: uppercase;
  width: 320px;
  min-height: 280px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  bottom: -490px;
  left: 50%;
  margin-left: -160px;
  z-index: 1;
  padding: 30px 54px 40px;
  background-color: $main-light-color;
}

.popup-error__header {
  @include reset;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.popup-error__description {
  text-align: center;
  margin-bottom: 20px;
}

.popup-error__button {
  text-transform: inherit;
  display: block;
  min-width: 180px;
  min-height: 58px;
  font-size: 18px;
  font-weight: 700;
  color: $main-light-color;
  background-color: $main-blue;
  border: none;
  padding: 16px 48px;
  margin: 0 auto;

  &:hover,
  &:focus {
    background-color: $main-blue-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $main-blue-active;
  }
}

@media (min-width: $tablet-width) {
  .popup-error {
    min-width: 400px;
    min-height: 347px;
    margin-left: -200px;
    padding: 40px 50px 20px;
  }

  .popup-error__header {
    text-align: center;
    font-size: 30px;
    padding: 10px 30px;
    margin-bottom: 30px;
    line-height: 41px;
  }
s
  .popup-error__description {
    margin-bottom: 25px;
  }

  .popup-error__button {
    min-width: 272px;
    min-height: 58px;
    font-size: 21px;
  }
}
