.social-list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  padding: 5px 84px;
  margin-bottom: 30px;
}

.social-list__link {
  display: block;
  background-color: $main-blue;
  min-width: 46px;
  min-height: 48px;
  text-align: center;
  padding: 14px 5px 5px;

  &:hover,
  &:focus {
    background-color: $main-blue-hover;
  }

  &:active {
    background-color: $main-blue-active;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    display: flex;
    margin-left: 24px;
  }

  .social-list__item {
    margin-right: 5px;
  }
}
