.social-list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  padding: 5px 84px;
  margin-bottom: 30px;
}

.social-list__item {
  background-color: $main-blue;
  min-width: 46px;
  min-height: 48px;
  text-align: center;
  padding: 14px 5px 5px;
}

@media (min-width: $tablet-width) {
  .social-list {
    display: flex;
  }
}
