@mixin main-font-regular {
  font-family: $main-font, $fallback-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@mixin main-font-bold {
  font-family: $main-font, $fallback-font, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
