$main-font: "PTSans";
$fallback-font: "Arial";
$main-light-color: #ffffff;
$main-color: black;
$main-blue: #81b3d2;
$main-gray: #333333;
$main-light-gray: #f2f2f2;
$main-dark-gray: #516069;
$main-blue-hover: #669ec0;
$main-blue-active: #5496bd;
$main-text-pressed: rgba(255, 255, 255, 0.3);
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
